.footer {
    padding: 30px 0 15px 0;
    background-color: #000000;
}

.footerrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.footerrow__icon {
    margin-right: 30px;
}

.footerrow__icon:last-child {
    margin-right: 0;
}

.footerrow__icon a {
    display: block;
}

.footerrow__icon i {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    transition: 0.4s;
}

.footerrow__icon i:hover {
    color: #D98943;
    transform: scale(1.5, 1.5);
    cursor: pointer;
}

.footer-text p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}
