.social-section {
    background-color: #F5F5F5;
    padding: 14px 0 17px 0;
}

.sociarow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialrow__text {
    width: 365px;
}

.socialrow__text h3 {
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 14px;
}

.socialrow__text p {
    color: #86878B;
    font-family: 400;
    font-size: 14px;
    line-height: 19px;
}

.socialrow__iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialrow__icon {
    margin-right: 40px;
}

.socialrow__icon p {
    display: block;
}

.socialrow__icon:last-child {
    margin-right: 0;
}

.socialrow__icon i {
    color: #86878B;
    font-size: 34px;
    font-weight: 400;
    transition: 00.4s;
}

.socialrow__icon i:hover {
    color: #D98943;
    transform: scale(1.5, 1.5);
    cursor: pointer;
}