.social-section {
    background-color: #F5F5F5;
    padding: 14px 0 17px 0;
}

.sociarow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.socialrow-item {
    margin: 0 15px;
}

.socialrow-item__text {
    max-width: 365px;
}

.socialrow-item__text h3 {
    color: #333333;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 27px;
    margin-bottom: 14px;
}

.socialrow-item__text p {
    color: #86878B;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
}

.socialrow-item__iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialrow-item__icon {
    margin-right: 40px;
}

.socialrow-item__icon p {
    display: block;
}

.socialrow-item__icon:last-child {
    margin-right: 0;
}

.socialrow-item__icon i {
    color: #86878B;
    font-size: 2.125rem;
    font-weight: 400;
    transition: 00.4s;
}

.socialrow-item__icon i:hover {
    color: #D98943;
    transform: scale(1.5, 1.5);
    cursor: pointer;
}